xsetroot -cursor_name left_ptr &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
redshift &
dunst &
picom &
clipmenud &
sh ~/.fehbg &

# Touchpad
xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Scrolling Pixel Distance" 50
xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Accel Speed" 0.25
